<div class="modal-header">
  <h4 class="modal-title">Update Comment</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
</div>
<form #editComment="ngForm" (ngSubmit)="onSubmit()" *ngIf="comment">
  <div class="modal-body" style="padding-bottom: 0px;">
    <div class="row form-group">
      <label for="content" class="col-sm-2 align-self-center">Content</label>
      <textarea class="form-control col-sm-9" id="content" rows="5" name="content" required
        [(ngModel)]="comment.content" #content=ngModel></textarea>
      <div *ngIf="submitted && content.invalid"
        class="alert alert-danger mt-2 col-sm-9 offset-2 py-0">
        <div *ngIf="content.errors.required">
          Content is required.
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer rightPadding">
    <button type="submit" class="btn btn-primary">Save</button>{{' '}}
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss()">Cancel</button>
  </div>
</form>