<div class="container">
  <h3 class="text-center">Posts
    <button type="button" class="btn button-outline-secondary border-secondary switch"
      (click)="openNewPost()" *ngIf="authService.loggedInUserUrl.length > 0; 
      else badgeLogin">New Post</button>
    <ng-template #badgeLogin>
      <span class="badge badge-light" style="font-size: medium; font-weight: normal">Login or
        signup for a post
      </span>
    </ng-template>
  </h3>
  <div class="row">
    <div class="col-sm-9 col-md-9, col-xl-10">
      <div *ngFor="let post of posts" class="card mb-3">
        <div class="card-body" *ngIf="post">
          <div class="card-title font-weight-bolder">
            {{post.title}}
          </div>
          <div class="card-subtitle font-italic">
            {{post.category.name}}
          </div>
          <hr />
          <div class="row">
            <div class="col-1 align-self-center text-center">
              <button type="button" class="btn buttonLink" ngbTooltip="Upvote"
                *ngIf="authService.loggedInUserUrl.length > 0; else buttonUpvote"
                (click)="upVote(post)">
                <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                    class="fa fa-caret-up fa-2x"></i></span>
              </button>
              <ng-template #buttonUpvote>
                <button type="button" class="btn buttonLink"
                  ngbTooltip="Login or signup for voting">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-up fa-2x"></i></span>
                </button>
              </ng-template>
              <div>
                <h5>{{post.likes}}</h5>
              </div>
              <button type="button" class="btn buttonLink" ngbTooltip="Downvote"
                *ngIf="authService.loggedInUserUrl.length > 0; else buttonDownvote"
                (click)="downVote(post)">
                <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                    class="fa fa-caret-down fa-2x"></i></span>
              </button>
              <ng-template #buttonDownvote>
                <button type="button" class="btn buttonLink"
                  ngbTooltip="Login or signup for voting">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-down fa-2x"></i></span>
                </button>
              </ng-template>
            </div>
            <div class="col-11 mt-3">
              <div class="card-text">
                {{post.content}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3 mt-2">
              <a [routerLink]="post.post_url + '/comments'" class="btn btn-outline-primary"
                ngbTooltip="Show comments">
                <app-tooltip tooltipClass="tooltip"></app-tooltip>
                <span class="fa fa-comments fa-lg"></span>
              </a>
            </div>
            <div class="col-sm-12 col-md-9, col-lg-6, col-xl-7 d-flex">
              <div *ngIf="post.lastUpdatedAt;else created">
                <div class="font-italic">
                  <span class="small">Created
                    {{post.createdAt.toString().substring(0, 10)}}</span>
                </div>
                <div class="font-italic">
                  <span class="small">Edited
                    {{post.lastUpdatedAt.toString().substring(0, 10)}}</span>
                </div>
              </div>
              <ng-template #created>
                <div class="font-italic align-self-center">
                  <span class="small">Created
                    {{post.createdAt.toString().substring(0, 10)}}</span>
                </div>
              </ng-template>
              <div class="align-self-end mx-2"><span
                  class="fa fa-user-circle fa-2x text-secondary"></span>
              </div>
              <div class="align-self-center font-italic">
                {{post.authorname}}
              </div>
            </div>
            <div class="col-sm-12 col-lg-3 col-xl-2">
              <button type="button" *ngIf="authService.loggedInUserUrl === post.author_url"
                (click)=openEditPost(post) class="btn btn-outline-primary" style="margin-top: 7px;">
                <span class="fa fa-pencil fa-lg"></span>
              </button>
              {{' '}}
              <button type="button" *ngIf="authService.isAdmin" class="btn btn-outline-primary"
                (click)="open(post)" style="margin-top: 7px;">
                <span class="fa fa-trash fa-lg"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col text-center" *ngIf="categories && categories.length > 0">
      <h4>Channels</h4>
      <div class="btn-group-vertical btn-group-toggle d-block" ngbRadioGroup name="radioCategory"
        [(ngModel)]="modelCategory" (change)="logCategory()"
        *ngFor="let categoryName of categoryNames">
        <label ngbButtonLabel class="btn-outline-primary my-2 w-75"
          style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <input ngbButton type="radio" value={{categoryName}}>{{categoryName}}
        </label>
      </div>
      <hr />
      <h4>Sort By</h4>
      <div class="btn-group-vertical btn-group-toggle w-75" ngbRadioGroup name="radioSort"
        [(ngModel)]="modelSort" (change)="logSort()">
        <label ngbButtonLabel class="btn-outline-primary my-2"
          style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
          <input ngbButton type="radio" value="new">Newest
        </label>
        <label ngbButtonLabel class="btn-outline-primary my-2"
          style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
          <input ngbButton type="radio" value="best">Best
        </label>
      </div>
    </div>
    <ng-template #confirmation let-modal>
      <div class="modal-header">
        <h4 class="modal-title">Confirmation</h4>
        <button type="button" class="close" (click)="modal.dismiss()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body" style="padding-bottom: 0px;">
        <div class="d-flex justify-content-start">
          <span>Do you really want to delete the post?</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary"
            (click)="modal.close(delete(currentPost))">Delete</button>{{' '}}
          <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
        </div>
      </div>
    </ng-template>
  </div>