<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Post</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="card mb-2" *ngIf="post">
        <div class="card-body">
          <div class="card-title font-weight-bolder">
            {{post.title}}
          </div>
          <div class="card-subtitle">
            <span class="badge badge-primary">
              {{post.category.name}}
            </span>
          </div>
          <div class="row d-flex">
            <div class="col-1 align-self-center text-center">
              <div *ngIf="authService.loggedInUserUrl === ''; else buttonPostUpvote">
                <button type="button" class="btn buttonLink" placement="right"
                  ngbTooltip="Login or signup for voting" (click)="showVoteToast=true">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-up fa-2x"></i></span>
                </button>
              </div>
              <ng-template #buttonPostUpvote>
                <button type="button" class="btn buttonLink" ngbTooltip="Upvote"
                  (click)="upvote(post)" placement="right">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-up fa-2x"></i></span>
                </button>
              </ng-template>
              <div>
                <h5>{{post.likes}}</h5>
              </div>
              <div *ngIf="authService.loggedInUserUrl === ''; else buttonPostDownvote">
                <button type="button" class="btn buttonLink" placement="right"
                  ngbTooltip="Login or signup for voting" (click)="showVoteToast=true">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-down fa-2x"></i></span>
                </button>
              </div>
              <ng-template #buttonPostDownvote>
                <button type="button" class="btn buttonLink" ngbTooltip="Downvote" placement="right"
                  (click)="downvote(post)">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span class="text-secondary"><i
                      class="fa fa-caret-down fa-2x"></i></span>
                </button>
              </ng-template>
            </div>
            <div class="col-4 col-md-3 col-lg-2 align-self-center">
              <div class="card-img">
                <img [src]="'data:image/jpg;base64,'+post.image"
                  style="height: 110px; width: 110px;" />
              </div>
            </div>
            <div class="col-7 col-md-8 col-lg-9 align-self-center">
              <div class="card-text">
                {{post.content}}
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 mt-2">
              <div *ngIf="authService.loggedInUserUrl !== ''; else badge">
                <button type="button" class="btn btn-outline-primary" ngbTooltip="New comment"
                  (click)="openNewComment()" placement="right">
                  <app-tooltip tooltipClass="tooltip"></app-tooltip><span><i
                      class="fa fa-commenting fa-lg"></i></span>
                </button>
              </div>
              <ng-template #badge>
                <div class="badge badge-light" style="font-size: 14px; font-weight: normal;">
                  Login or signup for a comment
                </div>
              </ng-template>
            </div>
            <div class="col-sm-12 col-md-9, col-lg-6, col-xl-7 d-flex">
              <div *ngIf="post.lastUpdatedAt;else created">
                <div class="font-italic">
                  <span class="small">Created
                    {{post.createdAt.toString().substring(0, 10)}}</span>
                </div>
                <div class="font-italic">
                  <span class="small">Edited
                    {{post.lastUpdatedAt.toString().substring(0, 10)}}</span>
                </div>
              </div>
              <ng-template #created>
                <div class="font-italic align-self-center">
                  <span class="small">Created
                    {{post.createdAt.toString().substring(0, 10)}}</span>
                </div>
              </ng-template>
              <div class="align-self-end mx-2"><span
                  class="fa fa-user-circle fa-2x text-secondary"></span>
              </div>
              <div class="align-self-center font-italic">
                {{post.authorname}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row" *ngIf="post">
        <div class="col">
          <h4 class="text-center" *ngIf="post.numberOfComments === 1, else plural">
            {{post.numberOfComments}}{{' Comment'}}
          </h4>
          <ng-template #plural>
            <h4 class="text-center">
              {{post.numberOfComments}}{{' Comments'}}
            </h4>
          </ng-template>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-9 col-xl-10">
          <div *ngFor="let comment of comments | sortCommentBy : comparator" class="card mb-2">
            <div class="card-body">
              <div class="row  d-flex">
                <div class="col-1 align-self-center text-center">
                  <div *ngIf="authService.loggedInUserUrl === ''; else buttonCommentUpvote">
                    <button type="button" class="btn btn-light-secondary buttonLink"
                      ngbTooltip="Login or signup for voting" (click)="showVoteToast=true">
                      <app-tooltip tooltipClass="tooltip"></app-tooltip><span
                        class="text-secondary"><i class="fa fa-caret-up fa-2x"></i></span>
                    </button>
                  </div>
                  <ng-template #buttonCommentUpvote>
                    <button type="button" class="btn btn-light-secondary buttonLink"
                      ngbTooltip="Upvote" (click)="upVote(comment)">
                      <app-tooltip tooltipClass="tooltip"></app-tooltip><span
                        class="text-secondary"><i class="fa fa-caret-up fa-2x"></i></span>
                    </button>
                  </ng-template>
                  <div>
                    <h5>{{comment.likes}}</h5>
                  </div>
                  <div *ngIf="authService.loggedInUserUrl === ''; else buttonCommentDownvote">
                    <button type="button" class="btn btn-light-secondary buttonLink"
                      ngbTooltip="Login or signup for voting" placement="bottom"
                      (click)="showVoteToast=true">
                      <app-tooltip tooltipClass="tooltip"></app-tooltip><span
                        class="text-secondary"><i class="fa fa-caret-down fa-2x"></i></span>
                    </button>
                  </div>
                  <ng-template #buttonCommentDownvote>
                    <button type="button" class="btn btn-light-secondary buttonLink"
                      ngbTooltip="Downvote" placement="bottom" (click)="downVote(comment)">
                      <app-tooltip tooltipClass="tooltip"></app-tooltip><span
                        class="text-secondary"><i class="fa fa-caret-down fa-2x"></i></span>
                    </button>
                  </ng-template>
                </div>
                <div class="col-11 align-self-center">
                  <div class="card-text">
                    {{comment.content}}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-8 offset-4 col-lg-5 offset-4 col-xl-6 d-flex">
                  <div *ngIf="comment.lastUpdatedAt;else created">
                    <div class="font-italic">
                      <span class="small">Created
                        {{comment.createdAt.toString().substring(0, 10)}}</span>
                    </div>
                    <div class="font-italic">
                      <span class="small">Edited
                        {{comment.lastUpdatedAt.toString().substring(0, 10)}}</span>
                    </div>
                  </div>
                  <ng-template #created>
                    <div class="font-italic align-self-center">
                      <span class="small">Created
                        {{comment.createdAt.toString().substring(0, 10)}}</span>
                    </div>
                  </ng-template>
                  <div class="align-self-end mx-2"><span
                      class="fa fa-user-circle fa-2x text-secondary"></span>
                  </div>
                  <div class="align-self-center font-italic">
                    {{comment.authorname}}
                  </div>
                </div>
                <div class="col-sm-12 col-lg-3 col-xl-2">
                  <button type="button"
                    *ngIf="post && authService.loggedInUserUrl === comment.author_url"
                    class="btn btn-outline-primary" (click)="openEditComment(comment)">
                    <span class="fa fa-pencil fa-lg"></span>
                  </button>
                  {{' '}}
                  <button type="button" *ngIf="authService.isAdmin" (click)="open(comment)"
                    class="btn btn-outline-primary">
                    <span class="fa fa-trash fa-lg"></span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col text-center">
          <h4>Sort By</h4>
          <div class="btn-group-vertical btn-group-toggle" ngbRadioGroup name="radioSort"
            [(ngModel)]="comparator">
            <label ngbButtonLabel class="btn-outline-primary my-2"
              style="border-bottom-left-radius: 4px; border-bottom-right-radius: 4px;">
              <input ngbButton type="radio" value="newest">Newest
            </label>
            <label ngbButtonLabel class="btn-outline-primary my-2"
              style="border-top-left-radius: 4px; border-top-right-radius: 4px;">
              <input ngbButton type="radio" value="best">Best
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-template #confirmation let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Confirmation</h4>
      <button type="button" class="close" (click)="modal.dismiss()">
        <span>&times;</span>
      </button>
    </div>
    <div class="modal-body" style="padding-bottom: 0px;">
      <div class="d-flex justify-content-start">
        <span>Do you really want to delete the post?</span>
      </div>
      <div class="modal-footer rightPadding">
        <button type="button" class="btn btn-primary"
          (click)="modal.close(delete(currentComment))">Delete</button>{{' '}}
        <button type="button" class="btn btn-primary" (click)="modal.dismiss()">Cancel</button>
      </div>
    </div>
  </ng-template>
  <ngb-toast [delay]="3000" *ngIf="showVoteToast" class="bg-warning" (hide)="showVoteToast=false">
    <ng-template ngbToastHeader>
      <i class="fa fa-exclamation-circle"></i>
      &nbsp;Warning
    </ng-template>
    Signup or login to leave a vote!
  </ngb-toast>
</div>