<div class="modal-header">
  <h4 class="modal-title">Signup</h4>
  <button type="button" class="close" (click)="activeModal.dismiss()">
    <span>&times;</span>
  </button>
</div>
<form #createSignup="ngForm" (ngSubmit)="onSubmit()" *ngIf="newSignup">
  <div class="modal-body" style="padding-bottom: 0px;">
    <ngb-alert [type]="'success'" *ngIf="isAlertSuccessOpen">{{successMessage}}</ngb-alert>
    <ngb-alert [type]="'danger'" *ngIf="isAlertFailureOpen">{{errorMessage}}</ngb-alert>
    <div class="form-group">
      <label for="title">Username</label>
      <input class="form-control" type="text" id="username" name="username"
        [(ngModel)]="newSignup.username">
    </div>
    <div class="form-group">
      <label for="title">Password</label>
      <input class="form-control" type="text" id="password" name="password"
        [(ngModel)]="newSignup.password">
    </div>
    <div class="form-group">
      <label for="title">Confirm Password</label>
      <input class="form-control" type="text" id="confirmPassword" name="confirmPassword"
        [(ngModel)]="newSignup.confirmPassword">
    </div>
  </div>
  <div class="modal-footer rightPadding">
    <button type="submit" class="btn btn-primary">Signup</button>{{' '}}
    <button type="button" class="btn btn-primary" (click)="activeModal.dismiss()">Cancel</button>
  </div>
</form>